<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Oficina</title>
		<link rel="stylesheet" href="../styles/oficina.css" />
		<link rel="stylesheet" href="../styles/sections.css" />
	</head>
	<body>
		<div class="actions">
			<a href="./index.html" class="btn-home">Voltar para a Home</a>
		</div>
		<div class="container">
			<section class="section" id="section1">
				<div class="item">
					<h1>Oficina</h1>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
						quibusdam, voluptatum, quia, quod voluptatem voluptate quos
						asperiores voluptatibus doloribus quas fugiat. Quisquam quibusdam,
						voluptatum, quia, quod voluptatem voluptate quos asperiores
						voluptatibus doloribus quas fugiat.
					</p>
				</div>
				<div class="item">
					<img src="../imgs//oficina1.jpg" alt="Oficina" />
				</div>
			</section>
			<section class="section" id="section2">
				<div class="item">
					<img src="../imgs//oficina2.jpg" alt="Oficina" />
				</div>
				<div class="item">
					<h1>Oficina</h1>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
						quibusdam, voluptatum, quia, quod voluptatem voluptate quos
						asperiores voluptatibus doloribus quas fugiat. Quisquam quibusdam,
						voluptatum, quia, quod voluptatem voluptate quos asperiores
						voluptatibus doloribus quas fugiat.
					</p>
				</div>
			</section>
			<section class="section" id="section3">
				<div class="item">
					<h1>Oficina</h1>
					<p>
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
						quibusdam, voluptatum, quia, quod voluptatem voluptate quos
						asperiores voluptatibus doloribus quas fugiat. Quisquam quibusdam,
						voluptatum, quia, quod voluptatem voluptate quos asperiores
						voluptatibus doloribus quas fugiat.
					</p>
				</div>
				<div class="item">
					<img src="../imgs//oficina3.jpg" alt="Oficina" />
				</div>
			</section>
		</div>
	</body>
</html>
