*{
    margin: 0;
    padding: 0;
}

body{
    background-color: brown;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section{
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    height: 80vh;
    width: 93vw;
    // h2{
    //     margin: 0;
    //     padding: 0;
    //     font-size: 20px;
    //     font-weight: 600;
    //     color: #333;
    // }
    // p{
    //     margin: 0;
    //     padding: 0;
    //     font-size: 14px;
    //     color: #666;
    // }
    // .btn{
    //     margin-top: 10px;
    // }
}